<section class="pt-4">
    {% if errors is defined and errors|length > 0 %}
        <div class="h3 alert alert-warning text-center alert-dismissible fade show">

            {% if get_error %}
                {{ error }}
            {% else %}
                {% for error in errors %}
                    {% for err in error %}
                        {{ err }} <br>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    {% endif %}

    {% if success is not null %}
        <div class="h3 alert alert-success text-center alert-dismissible fade show">


            {{ success }}


            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    {% endif %}

    {% if flash_messages is not null %}
    {% for message in flash_messages %}
        <div class="h3 alert alert-{{ message.type }} text-center alert-dismissible fade show mt-5">
            {{ message.body }}
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}
</section>