<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css"/>

    <title>Page de connexion</title>
    <style>
        html,
        body {
            height: 100%;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>


<body id="login" class="text-center bg-light">

{% block login %}
<form class="form-signin" action="index.php?action=login" method="POST">
    <a href="index.php?action=home">
        <img class="mb-4" src="images/favicon.ico" alt="" width="72" height="72">
    </a>

    <input type="hidden" name="token" value="{{ get_token() }}">
    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

    {% include 'User/messages.html.twig' %}

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="email"
           class="form-control {{ (email_err is not empty) ? 'is-invalid' : '' }}" placeholder="Votre email"
           value="{{ request_old('post', 'email') }}">
    <span class="invalid-feedback">{{ email_err }}</span>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword"  name="MotDePasse"
           class="form-control {{ (password_err is not empty) ? 'is-invalid' : '' }}"
           placeholder="Votre mot de passe" value="{{ password }}">
    <span class="invalid-feedback">{{ password_err }}</span>
    <div class="checkbox mb-3">

        <input type="checkbox" value="remember-me"> Se souvenir de moi

        <p>
            <a href="index.php?action=requestReset"> Mot de passe oublié
            </a>
        </p>

    </div>
    <button class="btn btn-lg btn-outline-dark btn-block" type="submit">Sign in</button>
    <span class="my-5">or</span>

    <a class="btn btn-lg btn-outline-info btn-block" href="index.php?action=showRegisterForm">Inscription</a>

    <a href="https:\\www.tolan.me">
        <p class="mt-5 mb-3 text-muted">&copy; 2020 BenjiCodeur</p>
    </a>
</form>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/hideShowPassword.js"></script>
    <script>
        $(document).ready(function () {
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            })
        });
    </script>
{% endblock %}

</body>
</html>