{% extends "base.html.twig" %}

{% block showcase %}
    <section id="showcase" class="d-flex justify-content-center align-items-center" style="height: 35vh;">
        <div id="overlay" style="height: 35vh;"></div>
        <div id="header" class="container text-white text-center">
            <h1 class="display-3">Profil Dashboard</h1>
            <p class="lead d-none d-md-block py-5">Vos informations</p>
        </div>

    </section>

{% endblock %}

{% block body %}


    <section class="p-4" style="height: 50vh;">

        <div class="container  py-3">


            <div class="row">

                <div class="col-md-4 ">
                    <div class="card" style="width: 18rem;">
{#                        {{ user.photo }}#}
                        <img class="card-img-top" src="/images/{{ user.user_photo_path }}" alt="Card image cap">
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <dl>
                        <dt>Nom</dt>
                        <dd>{{ user.last_name }}</dd>
                        <dt>Prénom</dt>
                        <dd>{{ user.first_name }}</dd>
                        <dt>Email</dt>
                        <dd>{{ user.email }}</dd>
                        <dt>Statut</dt>
                        <dd>{{ user.role }}</dd>
                    </dl>
                </div>
                <div class="col-md-2 d-flex align-items-center">
                    <a href="index.php?action=editProfile" class="btn btn-outline-warning">Modifier vos informations</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}